*, *:before, *:after {
    box-sizing: inherit;
}

/* The CSS box-sizing property allows us to include the
padding and border in an element's total width and height. */

html {
    box-sizing: border-box;
}

body {
    background-color: #50C878;
}

nav {
    background-color: gold;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: .2em;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    margin: .2em 1em 0px 1em;
    color: #50C878;
}

nav a:hover {
    color: white;
}

.wrapper {
    background-color: #fff;
}

h1, h2, h3 {
    color: red;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: rgb(67, 150, 206);
}

.img-hero {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.flex-container {
    display: flex;
    width: 100%;
    background-color: antiquewhite;
}

.flex-item {
    background-color: mistyrose;
    flex: 1;
    margin: 1em;
    text-align: center;
    border: 1px solid rosybrown;
}

.section-item {
    margin: 0 auto;
    width: 100%;
}

main {
    flex: 2;
    margin: 1em;
}

aside {
    flex: 1;
    margin: 1em;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

footer a {
    color: gold;
}